body{
    background-color: dimgrey;
    
}
#Health{
    padding-top: 5px;
    /*padding-bottom: 5px;*/
}
#Fighter{
    /*padding-left: 100px*/
    
}
.progress{
    height: 60px;
}
.panel{
    text-align: center;
    
}