
body{
    background-color: dimgrey;
}
.row{
    align-content: center;
}
#Health{
    padding-top: 5px;
    /*padding-bottom: 5px;*/
}
#Fighter{
    /*background-color: white;*/
    min-width: 708px;
    padding-left: 10px;
    
}
img{
    height: 630px;
}
.progress{
    height: 60px;
    
}
.panel{
    text-align: center;
}
.btn-group{
    /*align-content: center;*/
    
}
.button{
    height: 30px;  
}
#fighter1{
    background-color: transparent;
    
}
#fighter2{
    padding-left: 10px;
       -moz-transform: scaleX(-1);
       -o-transform: scaleX(-1);
       -webkit-transform: scaleX(-1);
       transform: scaleX(-1);
       filter: FlipH;
       -ms-filter: "FlipH";
}